.App-header {
    font-size: 1.4rem;
    color: #E0354B;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #E0354B;
    padding-top: 200px;
}

.App-header img {
    height: 200px;
    width: 200px;
}
