.App {
    height: 100%;
    max-width: 100%;
    font-family: Arial, sans-serif;
}

.App-header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #E0354B;
    color: #E0354B;
}

.App-header img {
    height: auto;
    width: 200px;
}

.App-header h1 {
    margin: 0;
}

.App-body {
    height: 60%;
    padding: 50px;
}

.App-footer {
    border-top: 3px solid #E0354B;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}